# Task Management Analytics

This notebook analyzes user engagement data from our task management application.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set the style for our plots
sns.set(style="whitegrid")

## Loading the Dataset

First, we'll load our user engagement data.

In [2]:
# Sample data (in a real notebook, we would load from a file)
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03'],
    'User ID': [1001, 1002, 1003],
    'Tasks Created': [5, 8, 3],
    'Tasks Completed': [3, 6, 2],
    'Active Minutes': [45, 60, 30]
}

df = pd.DataFrame(data)
df

         Date  User ID  Tasks Created  Tasks Completed  Active Minutes
0  2023-01-01     1001              5                3              45
1  2023-01-02     1002              8                6              60
2  2023-01-03     1003              3                2              30

## Task Completion Rate Analysis

Let's calculate the task completion rate for each user.

In [3]:
# Calculate completion rate
df['Completion Rate'] = df['Tasks Completed'] / df['Tasks Created']
df

         Date  User ID  Tasks Created  Tasks Completed  Active Minutes  Completion Rate
0  2023-01-01     1001              5                3              45             0.60
1  2023-01-02     1002              8                6              60             0.75
2  2023-01-03     1003              3                2              30             0.67

## Productivity Analysis

Let's analyze the relationship between active minutes and tasks completed.

In [4]:
# Calculate productivity (tasks completed per minute)
df['Productivity'] = df['Tasks Completed'] / df['Active Minutes']
df

         Date  User ID  Tasks Created  Tasks Completed  Active Minutes  Completion Rate  Productivity
0  2023-01-01     1001              5                3              45             0.60         0.067
1  2023-01-02     1002              8                6              60             0.75         0.100
2  2023-01-03     1003              3                2              30             0.67         0.067

## Conclusion

Based on our analysis, we can see that User 1002 has the highest completion rate (75%) and productivity (0.1 tasks per minute). This suggests that they are the most efficient user in our sample dataset.